In [1]:
# Observations of trends:
    # 1. Charter schools tend to score better than district schools
    # 2. Charter schools tend to have fewer students than district schools, would be interesting to see student to teacher ratio for both types of schools
    # 3. It looks like students are better at reading than they are at math or perhaps the reading curriculum is easier than the math one.

In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [4]:
# DISTRICT SUMMARY TABLE

In [5]:
# Calculate the total number of schools (15)
total_schools = len(school_data_complete['school_name'].unique())

In [6]:
# Calculate the total number of students (39170)
total_students = len(school_data_complete['Student ID'].unique())

In [7]:
# Calculate the total budget
total_budget = school_data_complete['budget'].sum()

In [8]:
# Calculate the average math score
avg_math = school_data_complete['math_score'].mean()

In [9]:
# Calculate the average reading score
avg_read = school_data_complete['reading_score'].mean()

In [10]:
# Calculate the percentage of students with a passing math score (70 or greater)
math_pass = school_data_complete.loc[school_data_complete['math_score'] >= 70]['math_score'].count()
perc_math_pass = math_pass / total_students

In [11]:
# Calculate the percentage of students with a passing reading score (70 or greater)
read_pass = school_data_complete.loc[school_data_complete['reading_score'] >= 70]['reading_score'].count()
perc_read_pass = read_pass / total_students

In [12]:
# Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall_pass_rate = (perc_read_pass + perc_math_pass)/2

In [13]:
# Create a dataframe to hold the above results
district_summary = pd.DataFrame({
    
    "Total Schools": [total_schools],
    "Total Students": '{:,}'.format(total_students),
    "Total Budget": '${:,}'.format(total_budget),
    "Average Reading Score": '{:,.2f}'.format(avg_read),
    "Average Math Score": '{:,.2f}'.format(avg_math),
    "% Passing Reading": '{:.2%}'.format(perc_read_pass),
    "% Passing Math": '{:.2%}'.format(perc_math_pass),
    "% Overall Passing Rate": '{:.2%}'.format(overall_pass_rate)
})
district_summary

,Total Schools,Total Students,Total Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Overall Passing Rate
0,15,"39,170","$82,932,329,558",81.88,78.99,85.81%,74.98%,80.39%

In [14]:
# SCHOOL SUMMARY

# Create an overview table that summarizes key metrics about each school, including:

In [15]:
# School Name
by_school_name = school_data_complete.set_index('school_name').groupby(['school_name'])

In [16]:
# School Type
by_school_types = school_data.set_index('school_name')['type']

In [17]:
# Total Students
students_by_school = by_school_name['Student ID'].count()

In [18]:
# Total School Budget
budget_by_school = school_data.set_index('school_name')['budget']

In [19]:
# Per Student Budget
budget_per_student = budget_by_school / students_by_school

In [20]:
# Average Math Score
avg_math_by_school = by_school_name['math_score'].mean()

In [21]:
# Average Reading Score
avg_read_by_school = by_school_name['reading_score'].mean()

In [22]:
# % Passing Math
pass_math_by_school = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count()/students_by_school

In [23]:
# % Passing Reading
pass_read_by_school = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/students_by_school

In [24]:
# Overall Passing Rate (Average of the above two)
overall_pass_by_school = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('school_name')['Student ID'].count()/students_by_school

In [25]:
# # # Create a dataframe to hold the above results
school_summary = pd.DataFrame({
    "School Type": by_school_types,
    "Total Students": students_by_school,
    "Total School Budget": budget_by_school,
    "Per Student Budget": budget_per_student,
    "Average Math Score": avg_math_by_school,
    "Average Reading Score": avg_read_by_school,
    '% Passing Math': pass_math_by_school,
    '% Passing Reading': pass_read_by_school,
    "% Overall Passing Rate": overall_pass_by_school
})

#munging
school_summary = school_summary[['School Type', 
                          'Total Students', 
                          'Total School Budget', 
                          'Per Student Budget', 
                          'Average Math Score', 
                          'Average Reading Score',
                          '% Passing Math',
                          '% Passing Reading',
                          '% Overall Passing Rate']]

#formatting
school_summary.style.format({'Total Students': '{:,}', 
                          "Total School Budget": "${:,}", 
                          "Per Student Budget": "${:.2f}",
                          'Average Math Score': "{:.2f}", 
                          'Average Reading Score': "{:.2f}", 
                          "% Passing Math": "{:.2%}", 
                          "% Passing Reading": "{:.2%}", 
                          "% Overall Passing Rate": "{:.2%}"})

In [26]:
#TOP PERFORMING SCHOOLS (By Passing Rate)

# Create a table that highlights the top 5 performing schools based on Overall Passing Rate. Include:
    # School Type
    # Total Students
    # Total School Budget
    # Per Student Budget
    # Average Math Score
    # Average Reading Score
    # % Passing Math
    # % Passing Reading
    # Overall Passing Rate (Average of the above two)

In [27]:
# Top Performing Schools (by passing rate)
top_5 = school_summary.sort_values("% Overall Passing Rate", ascending = False)
top_5.head().style.format({
    'Total Students': '{:,}',
    "Total School Budget": "${:,}", 
    "Per Student Budget": "${:.2f}", 
    'Average Math Score': "{:.2f}", 
    'Average Reading Score': "{:.2f}", 
    "% Passing Math": "{:.2%}", 
    "% Passing Reading": "{:.2%}", 
    "% Overall Passing Rate": "{:.2%}"})

In [28]:
### BOTTOM PERFORMING SCHOOLS (By Passing Rate)

# Create a table that highlights the bottom 5 performing schools based on Overall Passing Rate. Include all of the same metrics as above.

In [29]:
# Bottom Performing Schools (by passing rate)
bottom_5 = school_summary.sort_values("% Overall Passing Rate", ascending = True)
bottom_5.head().style.format({
    'Total Students': '{:,}',
    "Total School Budget": "${:,}", 
    "Per Student Budget": "${:.2f}", 
    'Average Math Score': "{:.2f}", 
    'Average Reading Score': "{:.2f}", 
    "% Passing Math": "{:.2%}", 
    "% Passing Reading": "{:.2%}", 
    "% Overall Passing Rate": "{:.2%}"})

In [30]:
### MATH SCORES BY GRADE

# Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [31]:
# Math scores by grade
ninth_math = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["math_score"].mean()
tenth_math = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["math_score"].mean()
eleventh_math = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["math_score"].mean()
twelfth_math = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["math_score"].mean()

math_scores = pd.DataFrame({
        "9th": ninth_math,
        "10th": tenth_math,
        "11th": eleventh_math,
        "12th": twelfth_math
})
math_scores = math_scores[['9th', '10th', '11th', '12th']]
math_scores.index.name = "school_name"

#show and format
math_scores.style.format({'9th': '{:.2f}', 
                          "10th": '{:.2f}', 
                          "11th": "{:.2f}", 
                          "12th": "{:.2f}"})

In [32]:
### READING SCORES BY GRADE

# Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [33]:
# Reading scores by grade
ninth_read = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
tenth_read = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
eleventh_read = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
twelfth_read = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["reading_score"].mean()

read_scores = pd.DataFrame({
        "9th": ninth_read,
        "10th": tenth_read,
        "11th": eleventh_read,
        "12th": twelfth_read
})
read_scores = read_scores[['9th', '10th', '11th', '12th']]
read_scores.index.name = "school_name"

#show and format
read_scores.style.format({'9th': '{:.2f}', 
                          "10th": '{:.2f}', 
                          "11th": "{:.2f}", 
                          "12th": "{:.2f}"})

In [34]:
### SCORES BY SCHOOL SPENDING

# Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  # Average Math Score
  # Average Reading Score
  # % Passing Math
  # % Passing Reading
  # Overall Passing Rate (Average of the above two)

In [35]:
# create four bins to group spending
bins = [0, 600, 625, 650, 99999]
avg_spend_names = ["< 600", "600-625", "626-650", "> 650"]
school_data_complete['bins'] = pd.cut(school_data_complete['budget']/school_data_complete['size'], bins, labels = avg_spend_names)
# group by spending amount
by_avg_spend = school_data_complete.groupby('bins')

# calculate table
bin_avg_math = by_avg_spend["math_score"].mean()
bin_avg_read = by_avg_spend["reading_score"].mean()
bin_pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('bins')['Student ID'].count()/by_avg_spend['Student ID'].count()
bin_pass_read = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('bins')['Student ID'].count()/by_avg_spend['Student ID'].count()
bin_overall_pass = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('bins')['Student ID'].count()/by_avg_spend['Student ID'].count()

# build dataframe
schools_avg_spend = pd.DataFrame({
        "Average Math Score": bin_avg_math,
        "Average Reading Score": bin_avg_read,
        "% Passing Math": bin_pass_math,
        "% Passing Reading": bin_pass_read,
        "% Overall Passing Rate": bin_overall_pass
})

schools_avg_spend.index.name = "Per Student Budget"
schools_avg_spend = schools_avg_spend.reindex(avg_spend_names)

#show and format
schools_avg_spend.style.format({
    'Average Math Score': "{:.2f}", 
    'Average Reading Score': "{:.2f}", 
    "% Passing Math": "{:.2%}", 
    "% Passing Reading": "{:.2%}", 
    "% Overall Passing Rate": "{:.2%}"})

In [36]:
### SCORES BY SCHOOL

# group by school size.

In [37]:
# create three bins to group sizes
size_bins = [0, 1667, 3334, 99999]
size_class = ["Small (< 1667)", "Medium (1667-3334)", "Large (> 3334)"]
school_data_complete['size_bins'] = pd.cut(school_data_complete['size'], size_bins, labels = size_class)

# group by spending amount
by_size_class = school_data_complete.groupby('size_bins')

# # calculate table
size_avg_math = by_size_class["math_score"].mean()
size_avg_read = by_size_class["reading_score"].mean()
size_pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_size_class['Student ID'].count()
size_pass_read = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_size_class['Student ID'].count()
size_overall_pass = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('size_bins')['Student ID'].count()/by_size_class['Student ID'].count()

# # build dataframe
schools_size_class = pd.DataFrame({
        "Average Math Score": size_avg_math,
        "Average Reading Score": size_avg_read,
        "% Passing Math": size_pass_math,
        "% Passing Reading": size_pass_read,
        "% Overall Passing Rate": size_overall_pass
})

schools_size_class.index.name = "Total Students"
schools_size_class = schools_size_class.reindex(size_class)

# #show and format
schools_size_class.style.format({
    'Average Math Score': "{:.2f}", 
    'Average Reading Score': "{:.2f}", 
    "% Passing Math": "{:.2%}", 
    "% Passing Reading": "{:.2%}", 
    "% Overall Passing Rate": "{:.2%}"})